.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 340px;
}

.Card .Title{
    padding: 5 0;
    display: flex;
    justify-content: center;
}

.Card .Content{
    background-color: #fff;
    color:black;
    padding: 20px;

    flex-grow: 1;
}